<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMedia" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50312/PaperMedia.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMedia" contract="MediaService.IMedia"
                name="BasicHttpBinding_IMedia" />
        </client>
    </system.serviceModel>
</configuration>